<template name="channelPage">
	<div class="row">
		<div class="col-md-9">
			<div class="wrapper w-blue">
				<div class="wrapper-body">
					<h4><a href="{{pathFor 'channelPage'}}">{{channel.name}}</a> 
						<small>{{channel.topic}}</small>
					</h4>
				</div>
				<div class="wrapper-footer">
					<div class="message-wrapper">
          	{{#each messages}}
							{{> messageItem}}
						{{/each}}
          </div>
					{{> channelMessage}}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="wrapper">
				<div class="wrapper-heading w-build">
					<div class="wrapper-tools">
						<span class="badge"><i class="fa fa-users"></i> {{usersCount}}</span>
					</div>
					Online Users
				</div>
				<div class="panel-body no-padding">	
					<ul class="list-group user-channel">
						{{#each users}}
							{{> userChannel}}
						{{else}}
							<li class="list-group-item">No active users in this channel. You should try another!</li>
						{{/each}}
					</ul>
				</div>
      </div>
    </div>
	</div>
</template>