<template name="forgotPassword">
	<div class="reset-container">
		<div class="row">
	  	<div class="col-md-12">
	  		<div class="text-center m-b-md">
	  			<h3>FORGOT YOUR PASSWORD?</h3>
	  			<small>Enter your email address and we will send you instructions to
	  			 	recover your password.</small>
	  		</div>
	  		<div class="wrapper">
	  			<div class="wrapper-body">
			  		<form class="forgot-password">
						  <div class="form-group">
						    <label for="email" class="control-label">Email</label>
					      <input type="text" name="email" class="form-control"
					      	title="Please enter your email" id="email" placeholder="example@gmail.com">
					      <span class="help-block small"> Your unique email address</span>   
						  </div>
						  <input type="submit" class="btn btn-success btn-block" value="Send instructions!">   
						</form>
					</div>
				</div>
	  	</div>
	  </div>
	</div>
</template>